@using Bakery.Models
@model Bakery.ViewModels.UserViewModel

@{
  Layout = "_Layout";
}

<h2><em>Welcome to Pierre's Bakery</em></h2>
@if (User.Identity.IsAuthenticated)
{
  <p>Good to see you, @User.Identity.Name!</p>
}
else
{
  <p>Make an account or login to add flavors and treats.</p>
}
<hr>

<h3>Are you looking for a particular treat?</h3>
<h4>@Html.ActionLink("All Treats:", "Index", "Treats")</h4>
@if (Model.Treats.Count != 0)
{
  @if (User.Identity.IsAuthenticated)
  {
    @foreach (Treat t in Model.Treats)
    {
      <details>
        <summary>@t.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Treats", new { id = t.TreatId }) •
        @Html.ActionLink("Edit", "Edit", "Treats", new { id = t.TreatId }) •
        @Html.ActionLink("Delete", "Delete", "Treats", new { id = t.TreatId })</h6>
      </details>
      <br>
    }
  }
  else
  {
    @foreach (Treat t in Model.Treats)
    {
      <details>
        <summary>@t.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Treats", new { id = t.TreatId })</h6>
      </details>
      <br>
    }
  }
}
else
{
  <h4>There are no treats yet</h4>
}
@if (User.Identity.IsAuthenticated)
{
  <h3>@Html.ActionLink("Add Treat", "Create", "Treats")</h3>
}
else
{
  <h3>Login to add treats</h3>
}

<hr>

<h3>Do you want find a specific flavor?</h3>
<h4>@Html.ActionLink("All Flavors:", "Index", "Flavors")</h4>
@if (Model.Flavors.Count != 0)
{
  @if (User.Identity.IsAuthenticated)
  {
    @foreach (Flavor f in Model.Flavors)
    {
      <details>
        <summary>@f.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Flavors", new { id = f.FlavorId }) •
        @Html.ActionLink("Edit", "Edit", "Flavors", new { id = f.FlavorId }) •
        @Html.ActionLink("Delete", "Delete", "Flavors", new { id = f.FlavorId })</h6>
      </details>
      <br>
    }
  }
  else
  {
    @foreach (Flavor f in Model.Flavors)
    {
      <details>
        <summary>@f.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Flavors", new { id = f.FlavorId })</h6>
      </details>
    }
  }
}
else
{
  <h4>There are no flavors yet</h4>
}
@if (User.Identity.IsAuthenticated)
{
  <h3>@Html.ActionLink("Add Flavor", "Create", "Flavors")</h3>
}
else
{
  <h3>Login to add a Flavor</h3>
}