@using Bakery.Models

@{
  Layout = "_Layout";
}

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
  <h3>No Flavors have been created yet!</h3>
}
else
{
  @if (User.Identity.IsAuthenticated)
  {
    @foreach (Flavor f in Model)
    {
      <details>
        <summary>@f.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Flavors", new { id = f.FlavorId }) •
        @Html.ActionLink("Edit", "Edit", "Flavors", new { id = f.FlavorId }) •
        @Html.ActionLink("Delete", "Delete", "Flavors", new { id = f.FlavorId })</h6>
      </details>
      <br>
    }
    <h2>@Html.ActionLink("Add new flavor:", "Create", "Flavors")</h2>
  }
  else
  {
    @foreach (Flavor f in Model)
    {
      <details>
        <summary>@f.Name</summary>
        <h6>@Html.ActionLink("Details", "Details", "Flavors", new { id = f.FlavorId })</h6>
      </details>
      <br>
    }
  }
}